<div class="block-content">
    <div class="ng-star-inserted" style="height: 100vh; overflow: hidden;">
        <div class="min-h-screen flex relative lg:static surface-ground">
            <!-- aqui va el sidebar-->
            <app-sidebar></app-sidebar>
             <!-- aqui va el contenido-->
            <div class="min-h-screen flex flex-column relative flex-auto">
                <div class="p-1 flex flex-column flex-auto text-layout">
                    <div class="border-2 border-dashed surface-border border-round surface-section flex-auto">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---->
    <!---->
</div>