<div id="app-sidebar-6"
                class="h-screen hidden lg:block flex-shrink-0 absolute lg:static left-0 top-0 z-1 
                select-none w-12rem fondo animation-duration-300 animation-ease-in-out" 
                >
                <div class="flex flex-column h-full">
                    <div class="flex align-items-center justify-content-center flex-shrink-0" style="height: 60px;">
                        <img src="assets/sice5.png" alt="Image" height="30"></div>
                    <div class="overflow-y-auto">
                        <ul class="list-none p-3 m-0 flex flex-wrap">
                            <li class="w-6 text-center mt-3"><a pripple=""
                                    class="p-ripple p-element cursor-pointer inline-flex align-items-center 
                                    justify-content-center border-2 border-indigo-500 hover:bg-indigo-700 
                                    active:bg-indigo-400 text-indigo-200 hover:text-blue-500 
                                    transition-colors transition-duration-150"
                                    style="width: 60px; height: 60px; border-radius: 10px;"><i
                                        class="pi pi-home text-2xl"></i><span class="p-ink"></span></a>
                                <div class="mt-2 text-indigo-200 font-medium text-sm">Home</div>
                            </li>
                            <li class="w-6 text-center mt-3"><a pripple=""
                                    class="p-ripple p-element cursor-pointer inline-flex align-items-center 
                                    justify-content-center border-2 border-indigo-500 hover:bg-indigo-700 active:bg-indigo-400 text-indigo-200 hover:text-indigo-100 transition-colors transition-duration-150"
                                    style="width: 60px; height: 60px; border-radius: 10px;"><i
                                        class="pi pi-star-fill text-2xl"></i><span class="p-ink"></span></a>
                                <div class="mt-2 text-indigo-200 font-medium text-sm">Favorites</div>
                            </li>
                            <li class="w-6 text-center mt-3"><a pripple=""
                                    class="p-ripple p-element cursor-pointer inline-flex align-items-center justify-content-center border-2 border-indigo-500 hover:bg-indigo-700 active:bg-indigo-400 text-indigo-200 hover:text-indigo-100 transition-colors transition-duration-150"
                                    style="width: 60px; height: 60px; border-radius: 10px;"><i
                                        class="pi pi-users text-2xl"></i><span class="p-ink"></span></a>
                                <div class="mt-2 text-indigo-200 font-medium text-sm">Users</div>
                            </li>
                            <li class="w-6 text-center mt-3"><a pripple=""
                                    class="p-ripple p-element cursor-pointer inline-flex align-items-center justify-content-center border-2 border-indigo-500 hover:bg-indigo-700 active:bg-indigo-400 text-indigo-200 hover:text-indigo-100 transition-colors transition-duration-150"
                                    style="width: 60px; height: 60px; border-radius: 10px;"><i
                                        class="pi pi-comments text-2xl"></i><span class="p-ink"></span></a>
                                <div class="mt-2 text-indigo-200 font-medium text-sm">Chart</div>
                            </li>
                            <li class="w-6 text-center mt-3"><a pripple=""
                                    class="p-ripple p-element cursor-pointer inline-flex align-items-center justify-content-center border-2 border-indigo-500 hover:bg-indigo-700 active:bg-indigo-400 text-indigo-200 hover:text-indigo-100 transition-colors transition-duration-150"
                                    style="width: 60px; height: 60px; border-radius: 10px;"><i
                                        class="pi pi-calendar text-2xl"></i><span class="p-ink"></span></a>
                                <div class="mt-2 text-indigo-200 font-medium text-sm">Calendar</div>
                            </li>
                            <li class="w-6 text-center mt-3"><a pripple=""
                                    class="p-ripple p-element cursor-pointer inline-flex align-items-center justify-content-center border-2 border-indigo-500 hover:bg-indigo-700 active:bg-indigo-400 text-indigo-200 hover:text-indigo-100 transition-colors transition-duration-150"
                                    style="width: 60px; height: 60px; border-radius: 10px;"><i
                                        class="pi pi-cog text-2xl"></i><span class="p-ink"></span></a>
                                <div class="mt-2 text-indigo-200 font-medium text-sm">Settings</div>
                            </li>
                        </ul>
                    </div>
                    <div class="mt-auto border-top-1 border-indigo-700 p-3 flex justify-content-between"><a
                            pripple=""
                            class="p-ripple p-element cursor-pointer inline-flex align-items-center justify-content-center border-2 border-indigo-500 hover:bg-indigo-700 active:bg-indigo-400 text-indigo-200 hover:text-indigo-100 transition-colors transition-duration-150"
                            style="width: 40px; height: 40px; border-radius: 10px;"><i
                            class="pi pi-slack text-xl"></i><span class="p-ink"></span></a><a pripple=""
                            class="p-ripple p-element cursor-pointer inline-flex align-items-center justify-content-center border-2 border-indigo-500 hover:bg-indigo-700 active:bg-indigo-400 text-indigo-200 hover:text-indigo-100 transition-colors transition-duration-150"
                            style="width: 40px; height: 40px; border-radius: 10px;"><i
                                class="pi pi-slack text-xl"></i><span class="p-ink"></span></a><a pripple=""
                            class="p-ripple p-element cursor-pointer inline-flex align-items-center justify-content-center border-2 border-indigo-500 hover:bg-indigo-700 active:bg-indigo-400 text-indigo-200 hover:text-indigo-100 transition-colors transition-duration-150"
                            style="width: 40px; height: 40px; border-radius: 10px;"><i
                                class="pi pi-github text-xl"></i><span class="p-ink"></span></a></div>
                </div>
            </div>